.record {
    display: flex;
    flex-wrap: nowrap;
    gap: .063rem;
    border-bottom: 1px solid #e8e8ee;
    cursor: pointer;
}

.record > div {
    padding: .625rem .3rem;
}
.record > div:first-child {
    flex: 1 0 auto;
}
.record > div:last-child {
    flex: 0 0 1rem;
}
.record > div:last-child:hover {
    font-weight: 800;
}

.record:hover {
    background-color: #e8e8ee;
}
