.record_wrap {
    border-bottom: 1px solid #e8e8ee;
}
.record {
    display: flex;
    flex-wrap: nowrap;
    gap: .063rem;
}

.record svg {
    height: 18px;
}

.record:hover svg {
    //background-color: #e8e8ee;
    //color: #000;
}

.record > div {
    padding: .625rem .3rem;
    flex: 1 1 auto;
}

div.check_box {
    cursor: pointer;
    flex: 0 0 1rem;
}

.record:hover {
    color: #000;
}
.record > div:nth-child(2) {
    cursor: pointer;
    color: #727a8d;
    overflow: hidden;
}

div.drop_down {
    color: #727a8d;
    cursor: pointer;
    flex: 0 0 1rem;
}

.drop_down:hover {
    color: #000;
    font-weight: 800;
}

.drop_down svg {
    border-left: 1px solid #e8e8ee;
    padding-left: .6rem;
}

.wrapper {
    transition: max-height 400ms;
    overflow: hidden;
}

/*
@media (max-width: 450px) {
    .record > div:nth-child(2) {
        max-width: 90px;
        overflow: hidden;
    }
}
*/
