.search_records {
    margin-top: .5rem;
    border: .125rem solid #e8e8ee;
    background-color: #fff;
    padding: 0 .8rem;
}

.header {
    height: 2.438rem;
}

.records {
    height: 17rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
