.search {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: .625rem;
}


@media (max-width: 720px) {
    .search {
        display: block;
    }

    .information {
        margin-top: .2rem;
        min-height: 2.3rem;
        text-align: center;
    }
}
